/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;700&family=Montserrat:wght@100;200;300&display=swap');

html {
  scroll-behavior: smooth;
}
html,body{
  height: 100%;
  width: 100%;
}
.section{
  width: 100%;
  height: 100%;
  min-height: 900px;
}
.flex_wrap{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.flex_content_wrap{
  display: flex;
  flex-direction: row;
}
#registry_wrap, #details_wrap{
  background-color: #E9F4FB;
}
#bg1{
  background: url(../img/dn_swiss.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#bg2{
  background: url(../img/dn_dl.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.content_title{
  text-align: center;
}

.reg-item{
  margin: 15px;
}

.reg-content{
  display: flex;
  align-items: baseline;
  height: max-content;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 90%;
  margin: 25px auto;
}

h2{
  margin: 0 auto;
  padding-top: 25px;
  font-family: 'Dancing Script', cursive;
  font-weight: 400;
  border-bottom: #333 solid 1px;
  width: fit-content;
  font-size: calc(2.2vw + 30px);
  color: #333;
  text-transform: uppercase;
}

.content_title > p{
  width: 80%;
  margin: 15px auto;
  text-align: center;
  letter-spacing: 3px;
  font-size: 29px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}
h3{
  font-size: 30px;
  width: fit-content;
  margin: 30px auto;
  border-bottom: 1px solid #333;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #021834;
}
#event_p{
  text-align: justify;
  font-size: 23px;
  letter-spacing: normal;
  text-justify: inter-word;
}

.section_title{
  text-align: center;
  margin-top: 25px;
  border-radius: 20px;
  width: calc(75%);
  padding-top: 75px;
  padding-bottom: 25px;
  min-width: 250px;
  background-color: rgba(0, 0, 0, 0.15);
  border: 1px solid #F9F9F9;
}
.section_rsvp{
  border: 1px solid #F9F9F9;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  color: #F9F9F9;
  letter-spacing: 8px;
  font-size: 40px;
  font-weight: 100;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 300px;
  background-color: rgba(0, 0, 0, 0.15);
  height: 65px;
  text-align: center;
  line-height: 65px;
}
h1{
  font-family: 'Dancing Script', cursive;
  font-weight: 700;
  font-size: calc(3.4vw + 25px);
  color: #F9F9F9;
  margin: 0;
}
#jackson{
  float: right;
  margin: 0;
  width: 80%;
  color: #F9F9F9;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-size: 12px;
}
#date{
  margin-top: 50px;
  margin-bottom: -15px;
  font-size: calc(1.8vw + 15px);
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  width: fit-content;
  color: #F9F9F9;
  margin-left: auto;
  margin-right: auto;
  font-weight: 100;
}
a{
  color: inherit;
  display:inline-block;
  width: 100%;
  height: 100%;
  text-decoration: inherit;
}
a:hover{
  background-color: rgba(255,255,255,0.05);
  cursor: pointer;
}

@media only screen and (min-width: 1151px) {
  .section_fifty{
    width: 50%;
    height: 100%;
  }
  .section_fifty > img{
    display: none;
  }
}

@media only screen and (max-width: 1150px) {
  .nav_spacer{
    height: 60%;
  }
  .flex_content_wrap{
    flex-direction: column;
    height: fit-content;
    overflow: auto;
  }
  .wrap_reverse{
    flex-direction: column-reverse;
  }
  .section_fifty{
    width: 100%;
    height: 50%;
  }
  .section_fifty > img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

}





::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 0 auto;
  padding: 0;
  width: 60%;
}

#one{
  background: url(../img/dn_main.JPG) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.form_text{
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: calc(12px + .7vw);
  letter-spacing: 2px;
}

.form_cont{
  margin-top: 50px;
}

.email_form{
  margin-bottom: 30px;
  margin-top: 10px;
  width: 100%;
  max-width: 600px;
  height: 40px;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: #999;
  border: 1px #333 solid;
  text-align: center;
}

label{
  width: 100%;
  height: 125px;
  display: inline-block;
}

.tn_img{
  width: 10vw;
  border-radius: 5px;
  min-width: 150px;
  min-height: 150px;
  object-fit: cover;
  height: 10vw;
}

.reg-item{
  display: flex;
  max-width: 10vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  min-width: 175px;
  height: auto;
}

.reg-item > a:hover{
  transform: scale(1.3);
}

.reg-item > a{
  transition: .2s all ease;
}

.reg-item > div{
  margin-bottom: 5px;
}

#rsvp{
  background: url("../img/wedding_form.jpg") no-repeat center center; 
}

.submit_form{
  max-width: 600px;
  width: 100%;
  height: 60px;
  background-color: rgba(194, 140, 140, 0.486);
  border: none;
  color: #444;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  letter-spacing: 15px;
  transition: all linear .1s;
  border-radius: 15px;
  transition: .15s linear all;
}
.submit_form:hover{
  transform: scale(1.05);
  cursor: pointer;
  background-color: rgba(194, 140, 140, 0.9);
}
.rsvp_wrap{
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

input:focus{
  color: #333;
  font-size: 20px;

}

.rsvp_text{
  font-size: 60px;
  font-family: 'Dancing Script', cursive;
  font-weight: 700;
  width: 200px;
  margin: 0 auto;
  border-bottom: 1px solid #333;
}